*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

#app{
    width: 100%;
    height: 100vh;
}

/*----sfondo----*/
#bcg-top{
    width: 100%;
    height: 100px;
    background-color: #009688;
}

#bcg-bottom{
    width: 100%;
    height: calc(100vh - 100px);
    background-color: #dbdbd3;
}

/*-----container-----*/
#container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 95vh;
    width: 80%;
    background-color: #fff;
    overflow: hidden;
}

#container::after{
    content: '';
    display: table;
    clear: both;
}

aside{
    float: left;
    width: 420px;
    height: 100%;
}

#chat-visualizzata{
    float: left;
    width: calc(100% - 420px);
    height: 100%;
    background-image: url(../img/mine.jpg);
}

/*-----sezione header-----*/
header{
    width: 100%;
    height: 70px;
    background-color: #eaeaea;
    border-left: 1px solid lightgrey;
    padding: 0 10px;
}

.contenuto-header, .header-left, .header-right{
    display: flex;
    height: 70px;
    align-items: center;
}

.contenuto-header{
    justify-content: space-between;
}

.contenuto-header *{
    margin: 0 5px;
}

.header-left img{
    height: 75%;
    border-radius: 50%;
}

.header-left a {
    text-decoration: none;
    color: black;
}

.header-right *{
    font-size: 20px;
    color: #b1b1b1;
}

/*-----avviso notifica-----*/
#avviso-notifiche{
    width: 100%;
    height: 80px;
    background-color: #8ad3f1;
    padding: 10px;
    display: flex;
    align-items: center;
}

#campanella{
    color: #8ad3f1;
    font-size: 25px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 50%;
    background-color: #fff;
}

#testo-notifiche{
    margin-left: 10px;
    font-weight: bold;
}

#testo-notifiche a {
    font-size: 14px;
    color: black;
    font-weight: initial;
}

/*-----barra di ricerca messaggi-----*/
#barra-ricerca{
    width: 100%;
    height: 50px;
    padding: 5px;
    background-color: #eaeaea;
}

#contenuto-ricerca{
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    display: flex;
}

#contenuto-ricerca a .fa-search{
    font-size: 18px;
    color: #b1b1b1;
    padding: 0 20px;
}

#barra-ricerca div input{
    width: 100%;
    border: none;
    border-left: 1px solid #eaeaea;
    padding: 10px;
}

/*-----chat utenti-----*/
#chat-contatti{
    overflow-y: scroll;
    height: calc(100% - 70px - 80px - 50px);
}

#chat-contatti a{
    color: black;
    text-decoration: none;
}

.avatar-text{
    color: grey;
    font-size: 14px;
    margin-top: 8px;
}

.chat{
    display: flex;
    height: 70px;
    align-items: center;
    border-bottom: 1px solid lightgrey;
}

.chat img{
    height: 75%;
    border-radius: 50%;
    margin: 0 20px;
}

/*--------sezione chat visualizzata---------*/
/*----header----*/
.header-left{
    cursor: pointer;
}

.ultimo-accesso{
    font-size: 13px;
    color: grey;
}

/*-----messaggi-----*/
#messaggi{
    height: calc(100% - 140px);
    overflow-y: scroll;
    padding: 0 20px;
}

.messaggio-mio, .messaggio-utente{
    padding: 5px 10px 8px;
    border-radius: 10px;
    border-bottom: 1px solid rgb(196, 196, 196);
}

.row{
    width: 100%;
    height: 55px;
}

.messaggio-mio{
    background-color: rgb(206, 255, 170);
    max-width: 600px;
    float: right;
    margin: 0 5px;

}

.messaggio-utente{
    background-color: #fff;
    max-width: 600px;
    margin: 0 5px;
    float: left;
}

.messaggio-bottom{
    text-align: end;
}

.orario, .inviato{
    margin: 0 2px;
    font-size: 12px;
    color: grey;
}

.orario, .inviato{
    display: inline-block;
}


/*-------footer-------*/
footer{
    width: 100%;
    height: 70px;
    background-color: #eaeaea;
}

#sezione-risposta{
    width: 100%;
    height: 100%;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sezione-risposta a{
    color: grey;
    font-size: 22px;
    margin: 0 20px;
}

#sezione-risposta input{
    width: 100%;
    height: 80%;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid lightgray;
    padding: 0 10px;
}







/*------media query-----*/
@media screen and (min-height: 200px){
    #messaggi{
        padding: 20px;
    }
}